@model Cargo4You_Project.Models.Parcel

<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>SetParcelDetails</title>
    </head>
    <body>
        <div>
            <h1>Parcel details</h1>
            <h3>parcel name: @Model.ParcelName</h3>
            <h3> parcel width @Model.ParcelWidth</h3>
            <h3> parcel height @Model.ParcelHeight</h3>
            <h3>parcel depth: @Model.ParcelDepth</h3>
            <h3>parcel weight @Model.ParcelWeight</h3>

        </div>
    </body>
</html>